<%= link_to "logout", destroy_user_session_path, method: :delete %> 

<%= form_for @team, url: { action: "create" } do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus:true, placeholder: "name"%>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.text_field :logo, autofocus:true, placeholder: "logo"%>
  </div>

  <%= f.submit 'Create team' %>

<% end %>