<%= link_to "logout", destroy_user_session_path, method: :delete %> 

<%= form_for @project, url: { action: "create" } do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus:true, placeholder: "name"%>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.text_field :due_date, autofocus:true, placeholder: "YYYY-DD-MM"%>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.text_field :logo, autofocus:true, placeholder: "logo"%>
  </div>

  <%= f.submit 'Create project' %>

<% end %>